@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 1 rem;
  line-height: 1.6;
  /* color: #777 */
}

/* *Header */

header,
footer {
  width: 90%;
  margin: 0 auto;
}

nav {
  width: 80%;
  margin: 2rem auto;
}

nav a {
  display: inline-block;
  margin: 0 6.5rem;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

nav a.orange {
  background-color: #ff764e;
}

nav a.blue {
  background-color: #5ed3eb;
}

nav a.yellow {
  background-color: #ffcd69;
}

/* *Top Section */

main .section {
  width: 90%;
  margin: 0 auto;
}

main .top-section .image {
  display: inline-block;
  width: 30%;
}

main .top-section .image img {
  border-radius: 50%;
}

main .top-section .heading {
  display: inline-block;
  margin: auto auto;
  width: 55%;
  position: relative;
  bottom: 200px;
  left: 300px;
}

main .top-section .heading h1 {
  font-family: 'Chelsea Market', cursive;
  font-size: 2.3rem;
}

main .top-section .heading p {
  padding: 15px;
  /* text-align: center; */
}

main .top-section .top-section-bottom {
  background-color: #ddb9a3;
  padding: 20px;
}
main .top-section .top-section-bottom > p {
  padding-bottom: 10px;
}

/*  *bottom section */

main .bottom-section div {
  text-align: center;
  margin: 20px 0;
}

main .bottom-section div p {
  width: 25%;
  margin: 0 auto;
}

/* * footer */

main footer {
  background-color: #f9e7dc;
}
